Authlib
bootstrap-flask
boto3
bs4
cachetools
coverage
email-validator
Flask-Admin
flask-bcrypt
Flask-Caching
Flask-Cors
flask-jwt-extended
Flask-Limiter
flask-login
Flask-Mail
Flask-Migrate
#Flask-RESTful
flask-restful
Flask-SeaSurf
Flask-SQLAlchemy
flask-talisman
Flask-WTF
Flask
geocoder
googletrans
gTTS
gunicorn
hvac #install vault
ibm-watson>=6.1.0
ibm-watsonx-ai
httpx
matplotlib
openai-whisper
openai
pdf2image
pdfkit
pdfplumber
pillow
phonenumbers
praw
psycopg2
pycryptodome
pydantic
PyMuPDF
pymongo[srv]
pymysql
PyPDF2[full]
pyotp
pytesseract
pytest
python-docx
python-dotenv
pytube
qrcode
quart
redis
reportlab
requests
sentry-sdk[flask]
seaborn
sphinx
torch
unidecode
WTForms
yfinance

# Additional comments and instructions
# pip install --upgrade sentry-sdk[flask]
# pip install --upgrade openai
# pip install --upgrade pygame
# pip install quart
# pip install Flask-Limiter
# pip install bleach
# pip install Js2Py
# python3 -m pip install pymongo
# npm install mongodb
# python -m pip install "pymongo[srv]"
# pip install pymongo flask-pymongo
# pip install unidecode
# Flask JWT-token
# pip install flask-jwt-extended
# pip install --upgrade PyPDF2[full]
# pip install quart
# pip install bleach
# pip install Js2Py
# python3 -m pip install pymongo
# npm install mongodb
# python -m pip install "pymongo[srv]"
# pip install pymongo flask-pymongo
# pip install unidecode
