<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" type="image/x-icon" href="https://github.com/laurindocbenjamim/dev-images/raw/refs/heads/main/icons8-developer-96.ico">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8d7da;
            color: #721c24;
        }
        .error-container {
            border: 1px solid #f5c6cb;
            border-radius: 5px;
            padding: 20px;
            margin: 20px auto;
            max-width: 600px;
            background-color: #fff;
        }
        h1 {
            color: #721c24;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="error-container text-center">
            <!-- Error Image Section -->
            <div class="mb-4">
                <img src="{{ error_image }}" alt="Error Image" class="img-fluid" style="max-height: 200px;">
            </div>
            <!-- Error Message Section -->
            <h1>Error</h1>
            <ul class="list-unstyled">
                {% if error_description and error_description %}
                    <li><strong>{{ error_message }}:</strong> {{ error_description }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>